anikolic_zadaca_2/anikolic_zadaca_2_2/src/conf/xml-resources/web-service-references/AIRP2WS_1/wsdl/localhost_8084/anikolic_zadaca_2_1/AIRP2WS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://serveri.ws.anikolic.nwtis.foi.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://serveri.ws.anikolic.nwtis.foi.org/" name="AIRP2WS">
<types>
<xsd:schema>
<xsd:import namespace="http://serveri.ws.anikolic.nwtis.foi.org/" schemaLocation="http://localhost:8084/anikolic_zadaca_2_1/AIRP2WS?xsd=1"/>
</xsd:schema>
</types>
<message name="provjeriAvionPoletioSAerodroma">
<part name="parameters" element="tns:provjeriAvionPoletioSAerodroma"/>
</message>
<message name="provjeriAvionPoletioSAerodromaResponse">
<part name="parameters" element="tns:provjeriAvionPoletioSAerodromaResponse"/>
</message>
<message name="dajAvionePoletjeleSAerodroma">
<part name="parameters" element="tns:dajAvionePoletjeleSAerodroma"/>
</message>
<message name="dajAvionePoletjeleSAerodromaResponse">
<part name="parameters" element="tns:dajAvionePoletjeleSAerodromaResponse"/>
</message>
<message name="izbornikBrojRedaka">
<part name="parameters" element="tns:izbornikBrojRedaka"/>
</message>
<message name="izbornikBrojRedakaResponse">
<part name="parameters" element="tns:izbornikBrojRedakaResponse"/>
</message>
<message name="tablicabrojRedaka">
<part name="parameters" element="tns:tablicabrojRedaka"/>
</message>
<message name="tablicabrojRedakaResponse">
<part name="parameters" element="tns:tablicabrojRedakaResponse"/>
</message>
<message name="dodajAerodrom">
<part name="parameters" element="tns:dodajAerodrom"/>
</message>
<message name="dodajAerodromResponse">
<part name="parameters" element="tns:dodajAerodromResponse"/>
</message>
<message name="dajAerodrom">
<part name="parameters" element="tns:dajAerodrom"/>
</message>
<message name="dajAerodromResponse">
<part name="parameters" element="tns:dajAerodromResponse"/>
</message>
<message name="dajSveAerodrome">
<part name="parameters" element="tns:dajSveAerodrome"/>
</message>
<message name="dajSveAerodromeResponse">
<part name="parameters" element="tns:dajSveAerodromeResponse"/>
</message>
<portType name="AIRP2WS">
<operation name="provjeriAvionPoletioSAerodroma">
<input wsam:Action="http://serveri.ws.anikolic.nwtis.foi.org/AIRP2WS/provjeriAvionPoletioSAerodromaRequest" message="tns:provjeriAvionPoletioSAerodroma"/>
<output wsam:Action="http://serveri.ws.anikolic.nwtis.foi.org/AIRP2WS/provjeriAvionPoletioSAerodromaResponse" message="tns:provjeriAvionPoletioSAerodromaResponse"/>
</operation>
<operation name="dajAvionePoletjeleSAerodroma">
<input wsam:Action="http://serveri.ws.anikolic.nwtis.foi.org/AIRP2WS/dajAvionePoletjeleSAerodromaRequest" message="tns:dajAvionePoletjeleSAerodroma"/>
<output wsam:Action="http://serveri.ws.anikolic.nwtis.foi.org/AIRP2WS/dajAvionePoletjeleSAerodromaResponse" message="tns:dajAvionePoletjeleSAerodromaResponse"/>
</operation>
<operation name="izbornikBrojRedaka">
<input wsam:Action="http://serveri.ws.anikolic.nwtis.foi.org/AIRP2WS/izbornikBrojRedakaRequest" message="tns:izbornikBrojRedaka"/>
<output wsam:Action="http://serveri.ws.anikolic.nwtis.foi.org/AIRP2WS/izbornikBrojRedakaResponse" message="tns:izbornikBrojRedakaResponse"/>
</operation>
<operation name="tablicabrojRedaka">
<input wsam:Action="http://serveri.ws.anikolic.nwtis.foi.org/AIRP2WS/tablicabrojRedakaRequest" message="tns:tablicabrojRedaka"/>
<output wsam:Action="http://serveri.ws.anikolic.nwtis.foi.org/AIRP2WS/tablicabrojRedakaResponse" message="tns:tablicabrojRedakaResponse"/>
</operation>
<operation name="dodajAerodrom">
<input wsam:Action="http://serveri.ws.anikolic.nwtis.foi.org/AIRP2WS/dodajAerodromRequest" message="tns:dodajAerodrom"/>
<output wsam:Action="http://serveri.ws.anikolic.nwtis.foi.org/AIRP2WS/dodajAerodromResponse" message="tns:dodajAerodromResponse"/>
</operation>
<operation name="dajAerodrom">
<input wsam:Action="http://serveri.ws.anikolic.nwtis.foi.org/AIRP2WS/dajAerodromRequest" message="tns:dajAerodrom"/>
<output wsam:Action="http://serveri.ws.anikolic.nwtis.foi.org/AIRP2WS/dajAerodromResponse" message="tns:dajAerodromResponse"/>
</operation>
<operation name="dajSveAerodrome">
<input wsam:Action="http://serveri.ws.anikolic.nwtis.foi.org/AIRP2WS/dajSveAerodromeRequest" message="tns:dajSveAerodrome"/>
<output wsam:Action="http://serveri.ws.anikolic.nwtis.foi.org/AIRP2WS/dajSveAerodromeResponse" message="tns:dajSveAerodromeResponse"/>
</operation>
</portType>
<binding name="AIRP2WSPortBinding" type="tns:AIRP2WS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="provjeriAvionPoletioSAerodroma">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajAvionePoletjeleSAerodroma">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="izbornikBrojRedaka">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="tablicabrojRedaka">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dodajAerodrom">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajAerodrom">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajSveAerodrome">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="AIRP2WS">
<port name="AIRP2WSPort" binding="tns:AIRP2WSPortBinding">
<soap:address location="http://localhost:8084/anikolic_zadaca_2_1/AIRP2WS"/>
</port>
</service>
</definitions>